
body{
  background-color:#EAF6F6;
}

hr{
   border-style:dotted none none;
   border-width: 5px;
   border-color: gray;
   width: 10%
 }

     h1{
     color: #66bfbf;
     }
     h3{
      color: #66bfbf;
     }
